{% extends "base.html" %}
{% block contenido %}
{% load static %}

<main>
    <div class="container-flex ptb-30 plb-20">
        <div class="toplist">
          <ul class="list-inline">
            <li><a href="/">Top 100</a></li>
            <li><a href="/genero">Genero</a></li>
            <li><a href="/artista" id="selected">Artistas</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">dolor sit</a></li>
          </ul>
        </div>
      </div>
      <div class="title plb-20">
        <h1><strong>Top 100</strong></h1>
      </div>
      <div class=" container-flex text-center">
        {% for e in artist %}
        <div class="music-card">
          <a href="/artista/{{e.nombre}}"><img src="{{e.imagen.url}}" alt=""></a>
          <p><a href="/artista/{{e.nombre}}">{{e.nombre}}</a></p>
        </div>
        {% endfor %}
        </div>    
    </main>

{% endblock %}