<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Page Title -->
  <title>Top 100</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- BootStrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  {% load static %}
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static "style/spotify.css" %}">
  {% block titulo %}{% endblock %}
  {% csrf_token %}
</head>

<body class="body">
  <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>
  <aside class="sidenav">
    <div class="logo">
      <a href="/"><img class="pb-50" src="{% static "img/logorgb.png" %}" alt=""></a>
    </div>
    <div class="menulink">
      <a href="/"><i id="casa" class="fas fa-home selected"></i><span id="casa-span"
          class="selectedText">Home</span></a>
      <a href="#" id="lupa"><i id="lupa-i" class="fas fa-search"></i><span id="lupa-span">Search
          Songs</span></a>
    </div>
    <div class="buttons">
      <a href="#"><button type="button" class="btn btn-light">Registrate</button></a>
      <a href="#"><button type="button" class="btn btn-dark">Acceder</button></a>
    </div>
    </div>
  </aside>
  <div id="popup" class="PopUp">
    <form v-bind:action=" '/search/' + message ">
      <input class="form-control mr-sm-2" v-model="message" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
  {% block contenido %}{% endblock %}
  <footer>
    <div class="progress" style="height: 3px;">
      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <div class="footer-container">
      <div id="NowPlaying" class="left">
        <img id="caratula" :src="url">
        {% autoescape off %}
        <h3 v-cloak>[[ message ]][[ songString ]]</h3>
        {% endautoescape %}
      </div>
      <div class="playmusic text-center center">
        <ul class="list-inline">
          <li><a href="javascript:void(0)" onclick="random()"><i id="random" class="fas fa-random"></i></a></li>
          <li><a href="javascript:void(0)" onclick="nextSong(-1)"><i class="fas fa-step-backward"></i></i></a></li>
          <li><a href="javascript:void(0)" onclick="genericPlayPause()"><i id="genericPlayer"
                class="far fa-play-circle"></i></a></li>
          <li><a href="javascript:void(0)" onclick="nextSong(1)"><i class="fas fa-step-forward"></i></a></li>
          <li><a href="javascript:void(0)" onclick="repeat()"><i id="repeat" class="fas fa-sync"></i></a></li>
        </ul>
      </div>
      <div class="right"></div>
    </div>

  </footer>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Template JQuery and Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- Main Javascript File -->
  <script src="{% static "js/main.js" %} "></script>
  <script>
    token = '{{csrf_token}}';
  </script>
</body>

</html>