{% extends "base.html" %}
{% load i18n %}
{% block contenido %}
{% load static %}


<main>

  <div class="title plb-20">
    <h1><strong>{% trans "Generos" %}</strong></h1>
  </div>
  {% if query %}
  <div class="title plb-20">
    <h2><strong>{% trans "Detalles de" %} {{genero.nombre}}
      </strong></h2>
    <h3>{{genero.detalles}}</h3>
  </div>
  <table class="table table-dark">
    <tr>
      <th></th>
      <th>{% trans "Nombre" %}</th>
      <th>{% trans "Estilo" %}</th>
      <th>{% trans "Artista" %}</th>
    </tr>
    {% for c in canciones %}
    <tr>
      <td><a id="{{c.pk}}" onmouseover="showPopUp(this.id)" onmouseout="hidePopUp(this.id)"
          onclick="PlayPause(this.id)" href="javascript:void(0)"><i id="{{c.pk}}Icon"
            class="far fa-play-circle"></i></a></td>
      <!-- Utilizar js para hacer play a la canción seleccionada -->
      <audio id="{{c.pk}}audioPlayer" preload="none">
        <source src="{{c.mp3.url}}" type="audio/mpeg">
      </audio>
      <td id="{{c.pk}}NameLabel">{{c.nombre}}</td>
      <td>{{c.estilo.nombre}}</td>
      <td>{{c.artista.nombre}}</td>
    </tr>
    {% endfor %}
  </table>
  {% elif nombre %}
  <h1>:( No hay ninguna cancion con ese genero</h1>
  {% else %}
  <div class=" container-flex text-center">
    {% for e in estilos %}
    <div class="music-card">
      <a href="/genero/{{e.nombre}}"><img src="{{e.caratula.url}}" alt=""></a>
      <p><a href="/genero/{{e.nombre}}">{{e.nombre}}</a></p>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  </div>
</main>



{% endblock %}