{% extends "base.html" %}

{% block contenido %}
{% load static %}


<main>

  <div class="title plb-20">
    <h1><strong>Generos</strong></h1>
  </div>
  {% if query %}
  <div class="title plb-20">
    <h2><strong>Detalles de {{genero.nombre}}
      </strong></h2>
    <h3>{{genero.detalles}}</h3>
  </div>
  <table class="table table-dark">
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Estilo</th>
      <th>Artista</th>
    </tr>
    {% for c in canciones %}
    <tr>
      <td><a id="{{c.nombre}}" url="{{c.caratula.url}}" onclick="PlayPause(this.id)" href="javascript:void(0)"><i
            id="{{c.nombre}}Icon" class="far fa-play-circle"></i></a></td>
      <!-- Utilizar js para hacer play a la canción seleccionada -->
      <audio id="{{c.nombre}}audioPlayer" preload="none">
        <source src="{{c.mp3.url}}" type="audio/mpeg">
      </audio>
      <td id="{{c.nombre}}NameLabel">{{c.nombre}}</td>
      <td>{{c.estilo.nombre}}</td>
      <td>{{c.artista.nombre}}</td>
    </tr>
    {% endfor %}
  </table>
  {% elif nombre %}
  <h1>:( No hay ninguna cancion con ese genero</h1>
  {% else %}
  <div class=" container-flex text-center">
    {% for e in estilos %}
    <div class="music-card">
      <a href="/genero/{{e.nombre}}"><img src="{{e.caratula.url}}" alt=""></a>
      <p><a href="/genero/{{e.nombre}}">{{e.nombre}}</a></p>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  </div>
</main>



{% endblock %}