{% extends "base.html" %}

{% block contenido %}
{% load static %}
<main>
  <div class="container-flex ptb-30 plb-20">
    <div class="toplist">
      <ul class="list-inline">
        <li><a href="/" id="selected">Top 100</a></li>
        <li><a href="/genero">Genero</a></li>
        <li><a href="/artista">Artistas</a></li>
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">dolor sit</a></li>
      </ul>
    </div>
  </div>
  <div class="title plb-20">
    <h1><strong>Top 100 de canciones</strong></h1>
  </div>
  </div>
  <div class=" container-flex text-center">
    {% for c in canciones %}
    <div class="music-card">
      <a href=""><img src="{{c.caratula.url}}" alt=""></a>
      <p>{{c.nombre}}</p>
    </div>
    {% endfor %}
  </div>
  <div class="container-flex">
    <div class="title plb-20">
      <h1><strong>Generos</strong></h1>
    </div>
  </div>
  <div class="container-flex text-center">
    {% for g in generos %}
    <div class="music-card">
      <a href="/genero/{{g.nombre}}"><img src="{{g.caratula.url}}" alt=""></a>
      <a href="/genero/{{g.nombre}}">
        <p>{{g.nombre}}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}