{% extends "base.html" %}

{% block contenido %}
{% load static %}
{% load i18n %}
<main>


  <h1><strong>Top 100 de canciones</strong></h1>
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
     
      <div class="fixed-action-btn">
        <form action="{% url 'set_language' %}" method="post" id="myform">
          {% csrf_token %}
          {% for language in languages %}
                <button class="btn_transparent" type="submit" value="{{language.code}}" name="language">
                 <img width="50" {% if language.code == "es" %} src="{% static '/img/spain.jpg' %}" {% else %} src="{% static '/img/ikurrina.jpg' %}" {% endif %}> 
                </button>
              {% endfor %}
            </ul>
        </form>
      </div>


  <div class=" container-flex">
    <table class="table table-dark">
      <tr>
        <th></th>
        <th>{% trans "Nombre" %}</th>
        <th>{% trans "Estilo" %}</th>
        <th>{% trans "Artista"%}</th>
      </tr>
      {% for c in canciones %}
      {% for cc in c %}
      <tr>
        <td><a id="{{cc.pk}}" onclick="PlayPause(this.id)" onmouseover="showPopUp(this.id)" onmouseout="hidePopUp(this.id)" on href="javascript:void(0)"><i
              id="{{cc.pk}}Icon" class="far fa-play-circle"></i></a></td>
        <!-- Utilizar js para hacer play a la canción seleccionada -->
        <audio id="{{cc.pk}}audioPlayer" preload="none">
          <source src="{{cc.mp3.url}}" type="audio/mpeg">
        </audio>
        <td id="{{cc.pk}}NameLabel">{{cc.nombre}}</td>
        <td>{{cc.estilo.nombre}}</td>
        <td>{{cc.artista.nombre}}</td>
      </tr>
      {% endfor %}
      {% endfor %}
    </table>
  </div>
  <div class="container-flex">
    <div class="title plb-20">
      <h1><strong>{% trans "Generos" %}</strong></h1>
    </div>
  </div>
  <div class="container-flex text-center">
    {% for g in generos %}
    <div class="music-card">
      <a href="/genero/{{g.nombre}}"><img src="{{g.caratula.url}}" alt=""></a>
      <a href="/genero/{{g.nombre}}">
        <p>{{g.nombre}}</p>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="container-flex">
    <div class="title plb-20">
      <h1><strong>{% trans "Artistas" %}</strong></h1>
    </div>
  </div>
  <div class="container-flex text-center">
    {% for a in artistas %}
    <div class="music-card">
      <a href="/artista/{{a.nombre}}"><img src="{{a.imagen.url}}" alt=""></a>
      <a href="/artista/{{a.nombre}}">
        <p>{{a.nombre}}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}