{% extends "base.html" %}

{% block contenido %}
{% load static %}

<main>

    <div class="title plb-20">
        <h1><strong>Login
            </strong></h1>
    </div>
    <div class="plb-20 pr-20 mx-30">
        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>

        <hr />
        <form action="{% url 'register' %}">
            <button class="btn btn-warning" type=" submit">Registrar usuario</button>
        </form>
    </div>

</main>
{% endblock %}