{% extends "base.html" %}

{% block contenido %}
{% load static %}


<main>
    <div class="container-flex ptb-30 plb-20">
        <div class="toplist">
            <ul class="list-inline">
                <li><a href="/">Top 100</a></li>
                <li><a href="/genero">Genero</a></li>
                <li><a href="/artista">Artistas</a></li>
                <li><a href="/cancion">Cancion</a></li>
                <li><a href="/login/user" id="selected">Area de usuario</a></li>
            </ul>
        </div>
    </div>
    <div class="title plb-20">
        <h1><strong>Top 100
            </strong></h1>
    </div>

<h2>Área para miembros</h2>

<p>
    Bienvenido <b>{{request.user.username}}</b>,
    esta página es exclusiva para usuarios registrados.
</p>

<hr />
<a href="/logout">Cerrar sesión</a>

{% endblock %}